/* @import url('https://fonts.googleapis.com/css2?family=Savate:wght@200..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-zalando: "Zalando Sans Expanded", sans-serif;
  --font-poppins: "Poppins", "sans-serif";
}

html {
  font-size: 16px;
}

body {
  cursor: none;
  background-color: #1b1b1b;
}

*:hover {
  cursor: none;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2rem;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding-inline: 1rem;
}

/* Custom Cursor */
@media only screen and (min-width: 768px) {
  .custom-cursor,
  .custom-cursor-outer {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
  }

  .custom-cursor {
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .custom-cursor .arrow {
    opacity: 0; /* hidden initially */
    transform: scale(0.5); /* slightly smaller */
    color: #000;
  }

  .custom-cursor-outer {
    width: 40px;
    height: 40px;
    background-color: rgba(139, 139, 139, 0.4);
    border-radius: 50%;
  }
}

@media (pointer: coarse) {
  .custom-cursor,
  .custom-cursor-outer {
    display: none !important;
  }
}

/* Navbar Animation */
.navbar li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #000; /* customize underline color */
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.navbar li {
  position: relative;
  text-decoration: none;
}

.navbar li:hover::after {
  transform: scaleX(1);
}

.after {
  position: absolute;
  overflow: hidden;
  top: 0;
  transform: translate(100%, 0px);
}

/* Tags */
.tags {
  border-width: 1px;
  border-radius: 50px;
  border-color: #fffbeb;
  color: #fffbeb;
  font-family: 'Poppins';
  padding: 0.1rem 1rem;
}

/* Animation Class */
.gallery {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: inset(0% 0% 100% 0%);
  /* fully clipped from top */
}

.split {
  overflow: hidden;
}