/* @import url('https://fonts.googleapis.com/css2?family=Savate:wght@200..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100..900&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

@theme {
  --font-savate: "Savate", sans-serif;
  --font-manrope: "Manrope", sans-serif;
}

body {
  height: 300vh;
  cursor: none;
}

.container {
  padding: 3rem 1em;
}


@media only screen and (min-width: 768px) {
  .custom-cursor,
  .custom-cursor-outer {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
  }

  .custom-cursor {
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .custom-cursor .arrow {
    opacity: 0; /* hidden initially */
    transform: scale(0.5); /* slightly smaller */
    color: #000;
  }

  .custom-cursor-outer {
    width: 40px;
    height: 40px;
    background-color: rgba(139, 139, 139, 0.4);
    border-radius: 50%;
  }
}

/* Navbar Animation */
.navbar li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #000; /* customize underline color */
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.navbar li {
  position: relative;
  text-decoration: none;
}

.navbar li:hover::after {
  transform: scaleX(1);
}

.comparisonContainer {
  position: relative;
  height: 100vh;
  
}

.comparisonSection {
  width: 100%;
  height: 100%;
}

.after {
  position: absolute;
  overflow: hidden;
  top: 0;
  transform: translate(100%, 0px);
}

.clip-path {
  clip-path: inset(0% 0% 100% 0%);
}

/* circle-text */
.circle-text-wrapper {
  width: 80vw;
  max-width: 400px;
  aspect-ratio: 1 / 1;
}

.rotate-text {
  animation: spin 10s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Hero section text */
.transform-3d {
  transform-style: preserve-3d;
  transform: perspective(800px); /* example */
}